<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item border border-0">
        <% if (!folders[key].isRoot) { %>
        <h2 class="accordion-header">
            <button
                class="accordion-button py-1 rounded-0 ps-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne<%= folders[key].id %>"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne<%= folders[key].id %>"
            >
                <i class="bi bi-folder"></i>&nbsp&nbsp<%= folders[key].name %>
            </button>
        </h2>
        <% } %>
        <div
            id="panelsStayOpen-collapseOne<%= folders[key].id %>"
            class="accordion-collapse collapse show m-0 p-0"
        >
            <div class="accordion-body py-0 pe-0">
                <% for (let subFolder of folders[key].children) { %> <%-
                include('./folder', { folders, key: subFolder.id }) %> <% } %>
                <% if (folders[key].files) { for (let file of
                folders[key].files) { %>
                <div class="ps-3 py-1">
                    <i class="bi bi-file-earmark"></i>&nbsp&nbsp<%= files.name
                    %>
                </div>
                <% }} %>
            </div>
        </div>
    </div>
</div>
