<%- include('../partials/header', { title: "Fila Master" }) %>

<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <%-include('../partials/folderPath') %>

    <h2 class="fw-bold mb-4 text-uppercase d-flex px-2">
        <i class="bi bi-folder2-open"></i>&nbsp<%= folders[key].name %> <% if
        (!folders[key].isHome) { %>
        <span class="flex-grow-1 text-end"
            ><a
                href="/folders/<%= key %>/edit/"
                class="btn border-0"
                data-toggle="tooltip"
                title="Edit the folder"
            >
                <i class="bi bi-pen"></i></a
        ></span>
        <% } %>
    </h2>
    <p class="border-5 border-success-subtle border-bottom mb-4 px-2">
        <%= folders[key].description %>
    </p>
    <div class="d-flex mb-4 gap-3">
        <a href="/folders/0/files/new" class="btn btn-primary btn-sm"
            ><i class="bi bi-file-plus"></i>&nbsp&nbspUpload a file</a
        >
        <a href="/folders/<%= key %>/new" class="btn btn-warning btn-sm"
            ><i class="bi bi-folder-plus"></i>&nbsp&nbspCreate a sub-folder</a
        >
        <% if (!folders[key].isHome) { %>
        <button
            type="button"
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
        >
            <i class="bi bi-trash3"></i>&nbsp&nbspDelete the folder
        </button>
        <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">
                            <strong class="text-danger">Delete</strong
                            >&nbsp&nbsp <i class="bi bi-folder"></i> <%=
                            folders[key].name %><strong class="text-danger"
                                >&nbsp?</strong
                            >
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this folder and all its
                        contents?<br />This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <form action="/folders/delete" method="POST">
                            <input
                                type="hidden"
                                name="folderId"
                                value="<%= folders[key].id %>"
                            />
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                            >
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <%- include('../partials/folder') %>

    <!-- <form class="card-body mb-4 border-success p-3" action="/newPost">
        <button class="btn btn-primary btn-lg" <% if (!locals.user) { %>
            disabled <% } %>> + New Post
        </button>
    </form> -->
</div>
