<%- include('../partials/header', { title: "Club House" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <h2 class="fw-bold mb-4 text-uppercase">All Posts</h2>

    <form class="card-body mb-4 border-success p-3" action="/newPost">
        <button class="btn btn-primary btn-lg" <% if (!locals.user) { %>
            disabled <% } %>> + New Post
        </button>
    </form>
    <% for (let post of posts) { %>
    <div
        class="card-body mb-4 border border-2 border-success rounded-4 p-3 ms-3"
    >
        <h5 class="card-title mb-1"><%= post.title %></h5>
        <p class="card-text"><%= post.text %></p>

        <% if (locals.user) { %>
        <p class="card-text">
            <% if (user.ismember) { %>
            <a
                class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                href="/profile/<%= post.userid %>"
            >
                <% } %>
                <strong><em><%= post.username %></em></strong>
                <% if (user.ismember) { %>
            </a>
            <% } %>
            <br />
            <small class="text-body-secondary"
                ><%= new Date(post.postedon).toGMTString() %>
            </small>
        </p>
        <% } %> <% if (locals.user?.userid === post.userid) { %>
        <a class="link-primary pe-4" href="/editPost/<%= post.postid %>"
            >Edit</a
        >
        <% } %> <% if (locals.user?.userid === post.userid ||
        locals.user?.isadmin) { %>
        <a class="link-danger pe-4" href="/deletePost/<%= post.postid %>"
            >Delete</a
        >
        <% } %>
    </div>
    <% } %>
</div>
