<%- include('../partials/header', { title: "Upload a file" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <%-include('../partials/folderPath') %>

    <h2 class="fw-bold mb-4 text-uppercase">
        Upload a <span class="text-primary">File</span>
    </h2>
    <form
        action="/folders/<%= locals.folderId %>/files/upload"
        method="POST"
        enctype="multipart/form-data"
    >
        <label for="formFileMultiple" class="form-label"
            >Upload your file</label
        >
        <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="upload"
        />
        <% if (locals.error) { %>
        <div class="text-warning"><%= error %></div>
        <% } %>
        <div class="mt-4">
            <button
                class="btn btn-outline-success px-5 text-capitalize"
                type="submit"
            >
                Upload</button
            >&nbsp&nbsp
            <a
                href="/folders/<%= locals.folderId %>"
                class="btn btn-outline-dark px-5 text-capitalize"
                type="submit"
            >
                Cancel
            </a>
        </div>
    </form>
</div>
